:root {
  --primary-color: #D4AF37;
  --secondary-color: #FFD700;
  --dark-blue-color: #0D1B2A;
  --medium-blue-color: #1B263B;
  --light-blue-color: #415A77;
  --danger-color: #dc3545;
  --success-color: #00C853;
  --white-color: #ffffff;
  --text-color: #E0E1DD;
  --border-color: #415A77;
}

body {
  margin: 0;
  background-color: var(--dark-blue-color);
  color: var(--text-color);
  font-family: Arial, sans-serif;
}
