# env/openproject.env
OPENPROJECT_HTTPS=false
OPENPROJECT_DB_HOST=openproject_db
OPENPROJECT_DB_USERNAME=openproject
OPENPROJECT_DB_PASSWORD=S3nh4OpenPr0j!
OPENPROJECT_DB_DATABASE=openproject
OPENPROJECT_DB_DIALECT=postgresql
